@import './base.scss';

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  header {
    position: sticky;
    top: 0;
    width: 100vw;
    height: auto;
    z-index: 10;
    padding: 16px;
    display: flex;
    justify-content: center;
    background: var(--color-background);
    box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);

    .logo {
      height: 56px;
    }
  }
}

// Estilo genérico de botão
.botao {
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  transition:
    color 0.25s,
    border-color 0.25s,
    background-color 0.25s;

  border-radius: 20px;
  padding: 0 20px;
  line-height: 38px;
  font-size: 14px;
  cursor: pointer;
  margin: 6px;

  &.ativo {
    background-color: var(--vt-c-green);
  }
  &:hover {
    background-color: var(--vt-c-green-light);
  }

  &.danger {
    &.ativo {
      background-color: var(--vt-c-red-dark);
      color: var(--vt-c-white-soft);
    }
    &:hover {
      background-color: var(--vt-c-red);
      color: var(--vt-c-white-soft);
    }
  }
}

input {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 0 12px;
  font-size: 14px;
  margin: 6px;
}
